@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

html {
    background-color: #141414;
}

body {
    margin: 0;
    min height: 100vh;
}

.card {
    height: 480px;
    width: 300px;
    padding: 24px;
    background-color: #222222;
    border-radius: 20px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    border-radius: 100px;
    height: 110px;
    width: 110px;
    display: block;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 25px;
    margin-top: 10px;

}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600px;
    text-align: center;
    font-family: "inter", sans-serif;
    margin-top: -12px;
}
.bio {
    color: rgb(188, 184, 184);
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 14px;
    margin-top: 20px;
}
.social-link {
    display: block;
    background-color: #333;
    color: white;
    font-family: "inter", sans-serif;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto 15px;
}

.social-link:hover {
    background-color: #c5f82a;
    color: black;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}